* {
    /* ALLT FRÅN MAIN.SCSS */
    /* Colors */
    --button-col: #EFAC00;
    --box-col: #5077A3;
    --bg-col: #334350;
    --dark-col: #14293C;
    --light-col: #7E8072;
    --light2-col: #6d90ad;
    --font-col: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    /* Fonts */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--dark-col);
    color: var(--font-col);
    margin: 0;
    /* Nollställer margin från main.scss */
}

/* Chosen product (Den valda produkten) */

.chosenproduct {
    background: var(--light2-col);
    padding: 30px;
    margin: 1rem;
    display: grid;
    grid-template-areas: "chosenproduct__header ." "chosenproduct__product chosenproduct__productinfo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr;
}

.chosenproduct__header {
    grid-area: chosenproduct__header;
    text-align: center;
}

.chosenproduct__product {
    grid-area: chosenproduct__product;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosenproduct__product__img {
    height: 20rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.chosenproduct__productinfo {
    grid-area: chosenproduct__productinfo;
    text-align: center;
}

.chosenproduct__productinfo__header{
    margin-bottom: 1rem;
}



/* Personal details (Fyll i din info-sektion) */

.personaldetails {
    padding: 30px;
    margin: 1rem;
    background: var(--light2-col);
}

.PD__item__input {
    width: 50%;
}