.productinfo__h1 {
    text-align: center;
}

.productinfo__card {
    display: flex;
    justify-content: space-evenly;
}
.productinfo__card-1, .productinfo__card-2, .productinfo__card-3 {
    width: 1rem;
    height: 4rem;
}