.bg {
    background-color: $bg-col; 
}
.landing {
    //background: url(/img/rock_climbing.jpg);
    background: url(/img/rock_climbing2.jpg); // Gjort ny bild i photoshop! 
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    //box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
    
}
.landing__box {

    width: 24rem;
    height: 24rem;
    padding: 2.5rem;
    background-color: rgba(32, 42, 51, 0.527);
    box-shadow: $shadow2;
    border: 2px solid $font-2nd;
}
.landing__box-h1 {
    font-size: 28px;
    margin: 0 0 1rem 0;
}
.landing__box-btn {
        width: 8rem;
        height: 3rem;
        background-color: $button-col;
        border: none;
        margin: 2rem 0 0 0;
        color: $bg-col;
        font-size: 1.5rem;
        font-family: 'Barlow Condensed', sans-serif;
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.452);
        opacity: .9;
}
.landing__box-btn:hover {
    opacity: 1;
}

//Produkt cards 
.productinfo {
    background-color: $bg-col;
    margin: 2rem 2rem 2rem 2rem;
    padding: 1rem 0 1rem 0;
    opacity: 0.3;
    transition: opacity .3s ease-in;
}
.productinfo:hover {
    opacity: 1;
}
.productinfo__card {
    margin: 2rem auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    justify-items: center;
}
.productinfo__card-1, .productinfo__card-2, .productinfo__card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    background-color: $box-col;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.384);
    //border: 2px solid white;
}
.productinfo__card-img {
    max-width: 100%;
    height: auto;
}
.productinfo__card-text, .productinfo__card-name, .productinfo__card-price {
    margin: .5rem;
}
.productinfo__card-btn {
    width: 6rem;
    height: 2.5rem;
    background-color: $button-col;
    border: none;
    margin: 1rem;
    color: $bg-col;
    font-size: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.452);
    opacity: .9;
}
.productinfo__card-btn:hover {
    opacity: 1;
}
//Om Oss
.omoss {
    background-color: $bg-col;
    margin: 2rem;
    padding: 1rem 0 1rem 0;
    opacity: 0.3;
    transition: opacity .3s ease-in;
}
.omoss:hover {
    opacity: 1;
}
.omoss__heading {
    text-align: center;
    margin: 5rem;
}
.omoss__heading--txt {
    text-align: center;
    width: 24rem;
   
}
.omoss__container {
    margin: 2rem auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    justify-items: center;
}
.omoss__card {
    width: 18rem;
    text-align: center;
}
.omoss__card-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.384);
    border: 2px solid $font-2nd;
}

//Fördjupning i produkterna

.products {
    background-color: $bg-col;
    margin: 2rem;
    padding: 1rem 0 1rem 0;
    //opacity: 0.3;
    transition: opacity .3s ease-in;
}
.products:hover {
    opacity: 1;
}
.products__container {
    margin: 2rem auto;
    max-width: 1170px;
    display: grid;
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.products__container--img {
        width: 18rem;
        max-width: 100%;
        height: auto;

    }

.products__container--txt {
    text-align: center;
    padding: 3rem;
}

    



