.landing {
    background: url(/img/rock_climbing.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
    
}
.landing__bg {
    height: 100vh;
    background-color: rgba(32, 42, 51, 0.39);
}
.landing__box {
    margin: 5.5rem auto 2rem 4rem;
    width: 22rem;
    padding: 2.5rem;
    background-color: rgba(32, 42, 51, 0.527);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.747);
}