
 .body {
    background-color: $bg-col;
    font-size: 30px;
    color: black;
} 
.invoice {
    margin: 2rem;
    width: 36rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-gap: 1rem;
    background-color: white;

}
.invoice__header {
    grid-column: 1/2;
    grid-row: 1/2;

}
.invoice__header-logo {
    max-width: 4rem;
    margin: 1rem;
}
.invoice__num {
    grid-column: 2/3;
    
}
.invoice__num-invnr {
    text-align: start;
    
}
.invoice__adress, .invoice__details {
    
}
.invoice__spec, .invoice__sum {
    
}

.invoice__footer, .invoice__info {
    
}


