
    .productinfo__h1 {
        text-align: center;
        font-size: 40px;
        margin: 2rem 0 0 0;
    }
    
    .productinfo__card {
        margin: 2rem auto;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
        justify-items: center;
        
    }
    .productinfo__card-1, .productinfo__card-2, .productinfo__card-3 {
        width: 20rem;
        background-color: $box-col;
        box-shadow: .5px .5px 3px 0px black;
        opacity: .8;
    }
    .productinfo__card-img {
        max-width: 100%;
        height: auto;
        border: 2px solid $bg-col;
    }
    .productinfo__card-text, .productinfo__card-name, .productinfo__card-price {
        margin: 1rem;
    }
    
    .productinfo__card-btn {
        width: 6rem;
        height: 2rem;
        background-color: $button-col;
        border: none;
        margin: 1rem;
        color: $bg-col;
        font-size: 1.5rem;

    }
    