.chosenproduct {
  background: $bg-col;
  display: grid;
  grid-template-areas:
    "chosenproduct__header chosenproduct__header"
    "chosenproduct__product chosenproduct__productinfo";
  padding: 30px;
}

.chosenproduct__header {
  grid-area: chosenproduct__header;
}

.chosenproduct__product {
  grid-area: chosenproduct__product;
}

.chosenproduct__productinfo {
  grid-area: chosenproduct__productinfo;
}

.chosenproduct__product__img {
  height: 300px;
}
