@import "variables.scss";


/* NOLLSTÄLLNING */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-col;
  color: $font-col;
}
p {
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Condensed', sans-serif;
}

li{
  list-style: none;
}

// Meny CSS

.header{
  border: solid blue;
  height: 200px;
  width: 500px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: $button-col;
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: gray;
}
.navmenu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
    	box-shadow 0.3s ease;
  z-index: 999;
}

.navmenu__ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}


@import "aboutus.scss";
@import "checkout.scss";
@import "faq.scss";
@import "invoice.scss";
@import "products.scss";
@import "shoppingcart.scss";
@import "index.scss";

